@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <br>
    <h1 class="display-5">Youth Clinic</h1>
    <br>

    <head>
        <meta charset="UTF-8">
        <title>Card Boxes Table</title>
        <link rel="stylesheet" href="style.css">
    </head>


    <body>
        <div class="homepage">

            <div class="card">
                <a href="http://localhost:5140/Services"><img src="/Images/Medical Services.jpg" alt="Card image"></a>
                <h2>Medical Services</h2>
                <a style="text-decoration:none;" href="http://localhost:5140/Services">Available Services</a>
            </div>

            <div class="card">
                <a href="http://localhost:5140/Appointments"><img src="/Images/Appointments.jpg" alt="Card image"></a>
                <h2>Appointments</h2>
                <a style="text-decoration:none;" href="http://localhost:5140/Appointments">Existing appointments</a>
            </div>


            <div class="card">
                <a href="http://localhost:5140/Patients"> <img src="/Images/Patients.jpg" alt="Card image"></a>
                <h2>Patients</h2>
                <a style="text-decoration:none;" href="http://localhost:5140/Patients">Patients in our database</a>
            </div>


            <div class="card">
                <a href="http://localhost:5140/Departments"> <img src="/Images/Departments.jpg" alt="Card image"></a>
                <h2>Departments</h2>
                <a style="text-decoration:none;" href="http://localhost:5140/Departments">Available Departments</a>
            </div>


            <div class="card">
                <a href="http://localhost:5140/Doctors"> <img src="/Images/Doctors.jpg" alt="Card image"></a>
                <h2>Doctors</h2>
                <a style="text-decoration:none;" href="http://localhost:5140/Doctors">Doctors Employed</a>
            </div>

            <div class="card">
                <a href="http://localhost:5140/Nurses"> <img src="/Images/Nurses.jpg" alt="Card image"></a>
                <h2>Nurses</h2>
                <a style="text-decoration:none;" href="http://localhost:5140/Nurses">Nurses Employed</a>
            </div>
            
        </div>
    </body>

</div>
